
.main{
  width: 100%;
}

.text-center{
  text-align: center;
}

.bg_test-text {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.7);
}
.bg_test {
    text-align:  center;
    padding:  100px;
    background-image: url(../img/cat.png);
    background-position: center;
    background-size: 100%;
}

img{
  width: 100%;
  height: 100%;
}

.image__wrap{
  width: 100px;
  height: 100px;
}

.padding_up_down{
  margin-bottom: 30px;
}

@include break-pc {
  .bg_test-text {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .bg_test {
      text-align:  center;
      padding:  250px;
      background-image: url(../img/cat.png);
      background-position: center;
      background-size: 100%;
  }
}
